/* Estilos generales */
body {
    background-color: #121212; /* Fondo oscuro */
    color: white;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  button{
    background-color: #333; /* Fondo oscuro */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 500px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transición suave */
  }
  
  /* Efecto de brillo y aumento de tamaño al pasar el cursor */
  button:hover {
    background-color: #444; /* Color un poco más claro para el efecto */
    transform: scale(1.1); /* Aumentar el tamaño al 110% */
  }
  
  /* Cambio de color y tamaño al hacer clic */
  button:active {
    background-color: #666; /* Color aún más claro para indicar clic */
    transform: scale(0.9); /* Reducir el tamaño al 90% */
  }
  
  
/* Estilos para el formulario */
.formulario {
  background-color: #333; /* Fondo oscuro */
  padding: 50px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agregar sombra */
}

/* Agregar espaciado a los lados del formulario */
#formulario {
  margin-top: 20px;
  text-align: center;
  padding: 0 5px; /* Espaciado lateral */
}

/* Estilo para el campo de fecha */
.datepicker {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

/* Estilos para los campos de entrada y etiquetas */
input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 500px;
  flex: 1; /* Hacer que el campo de contraseña ocupe el espacio restante */
  padding: 10px;
  margin: 1;
  border: none;
  color: white;
  background-color: #444; /* Cambiar el fondo a negro */
}

/* Estilo para el botón */
#fechaNacimientoButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

/* Estilos para el botón de mostrar contraseña */
.verContrasenaUsuario {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}


/* Estilo para campos inválidos */
input:invalid,
select:invalid {
  border: 1px solid red;
}

/* Estilo para campos válidos */
input:valid,
select:valid {
  border: 1px solid #ccc; /* Otra apariencia para los campos válidos */
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  display: none;
}

/* Mostrar mensajes de error cuando el campo es inválido */
input:invalid + .error-message,
select:invalid + .error-message {
  display: block;
}
